data/
#ml/
notebooks/
notebooks/mlruns
notebooks/mlruns/*
#ml_main.py
streamlit_ui.py


# -------------------------------
# Virtual environments
# -------------------------------
venv/
venv/*
env/
.venv/

# -------------------------------
# Python cache
# -------------------------------
__pycache__/
*.pyc
*.pyo
*.egg-info/

# -------------------------------
# Logs
# -------------------------------
*.log
logs/

# .env
# .env.*
# *.env

# -------------------------------
# Git
# -------------------------------
.git/
.gitignore